<div class="container ">

    <!--Content Header -->
    <header class="content-header row ">
        <div class="heading col-md-8 col-sm-6 col-xs-12">
            <h1>Content elements</h1>
        </div>
        <ul class="col-md-4 col-sm-6 col-xs-12 breadcrumb ">
            <li> <a href="#">Main Page</a> </li>
            <li> <a href="#">Shortcodes</a> </li>
            <li class="active"> Content elements </li>
        </ul>
    </header>
    <!--Content Header -->
    <div class="section-wrap">
        <h3>Timeline</h3>
        <section class="timeline">
            <i class="base-line"></i>
            <article class="row  time-story right anim-section">
                <span class="circle"> <i></i> </span>
                <div class="col-xs-6 col-xs-offset-6 ">
                    <div class="timestory-content"> <span class="date"> june 20, 2014 </span> </div>
                </div>
            </article>
            <article class="row  time-story left anim-section">
                <span class="circle"> <i></i> </span>
                <div class="col-xs-6">
                    <div class="timestory-content right-align">
                        <span class="date"> june 20, 2014 </span>
                        <article class="img-description">
                            <h3>Lorem ipsum dolor sit amet</h3>
                            <p> Netus et malesuada fames ac turpis egestas vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper etiam vehicula sit amet. </p>
                        </article>
                    </div>
                </div>
                <div class="col-xs-6  ">
                    <div class="timestory-content">
                        <article class="img-description">
                            <h3>Lorem ipsum dolor sit amet</h3>
                            <p> Netus et malesuada fames ac turpis egestas vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper etiam vehicula sit amet. </p>
                        </article>
                    </div>
                </div>
            </article>
            <article class="row  time-story right tres anim-section">
                <span class="circle"> <i></i> </span>
                <div class="col-xs-6 col-xs-offset-6 ">
                    <div class="timestory-content">
                        <span class="date"> june 20, 2014 </span>
                        <article class="img-description">
                            <h3>Lorem ipsum dolor sit amet</h3>
                            <p> Netus et malesuada fames ac turpis egestas vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper etiam vehicula sit amet. </p>
                        </article>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>
