<div id="content" class="margin-bottom">
    <div class="section gallery-1">
        <div class="container">
            <!--Content Header -->
            <header class="content-header row ">
                <div class="heading col-md-8 col-sm-6 col-xs-12">
                    <h1>Gallery</h1>
                </div>
                <ul class="col-md-4 col-sm-6 col-xs-12 breadcrumb ">
                    <li> <a href="#">Main Page</a> </li>
                    <li class="active"> Gallery </li>
                </ul>
            </header>
            <!--Content Header -->

            <div class="row gallery">
                <div class="col-xs-12 col-sm-4 gallery-item anim-section transition-effect zoom">
                    <div class="figure">
                        <figure> <a href="#" class="image-link"> <img src="assets/img/sunflower.jpg" alt="" /> <span class="image-overlay">&nbsp;</span> </a> </figure>
                        <div class="tool_widget"> <a href="assets/img/sunflower.jpg" class="search-icon fancybox-thumb" data-fancybox-group="fancybox-thumb"><span><i class="fa fa-search"></i></span></a> <a href="#" class="link"><span><i class="fa fa-link"></i></span></a> </div>
                    </div>
                    <div class="sub-text">
                        <h5><a href="#">transitions in UX design 2014 trends</a></h5>
                        <a class="view" href="#"> <small><i class="fa fa-eye"></i> 350</small> </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 gallery-item anim-section transition-effect zoom">
                    <div class="figure">
                        <figure> <a href="#" class="image-link"> <img src="assets/img/sea.jpg" alt="" /> <span class="image-overlay">&nbsp;</span> </a> </figure>
                        <div class="tool_widget"> <a href="assets/img/sea.jpg" class="search-icon fancybox-thumb" data-fancybox-group="fancybox-thumb"><span><i class="fa fa-search"></i></span></a> <a href="#" class="link"><span><i class="fa fa-link"></i></span></a> </div>
                    </div>
                    <div class="sub-text">
                        <h5><a href="#">transitions in UX design 2014 trends</a></h5>
                        <a class="view" href="#"> <small><i class="fa fa-eye"></i> 350</small> </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 gallery-item anim-section transition-effect zoom">
                    <div class="figure">
                        <figure> <a href="#" class="image-link"> <img src="assets/img/rainbow.jpg" alt="" /> <span class="image-overlay">&nbsp;</span> </a> </figure>
                        <div class="tool_widget"> <a href="assets/img/rainbow.jpg" class="search-icon fancybox-thumb" data-fancybox-group="fancybox-thumb"><span><i class="fa fa-search"></i></span></a> <a href="#" class="link"><span><i class="fa fa-link"></i></span></a> </div>
                    </div>
                    <div class="sub-text">
                        <h5><a href="#">transitions in UX design 2014 trends</a></h5>
                        <a class="view" href="#"> <small><i class="fa fa-eye"></i> 350</small> </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 gallery-item anim-section transition-effect zoom">
                    <div class="figure">
                        <figure> <a href="#" class="image-link"> <img src="assets/img/orange.jpg" alt="" /> <span class="image-overlay">&nbsp;</span> </a> </figure>
                        <div class="tool_widget"> <a href="assets/img/orange.jpg" class="search-icon fancybox-thumb" data-fancybox-group="fancybox-thumb"><span><i class="fa fa-search"></i></span></a> <a href="#" class="link"><span><i class="fa fa-link"></i></span></a> </div>
                    </div>
                    <div class="sub-text">
                        <h5><a href="#">transitions in UX design 2014 trends</a></h5>
                        <a class="view" href="#"> <small><i class="fa fa-eye"></i> 350</small> </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 gallery-item anim-section transition-effect zoom">
                    <div class="figure">
                        <figure> <a href="#" class="image-link"> <img src="assets/img/ribbon.jpg" alt="" /> <span class="image-overlay">&nbsp;</span> </a> </figure>
                        <div class="tool_widget"> <a href="assets/img/ribbon.jpg" class="search-icon fancybox-thumb" data-fancybox-group="fancybox-thumb"><span><i class="fa fa-search"></i></span></a> <a href="#" class="link"><span><i class="fa fa-link"></i></span></a> </div>
                    </div>
                    <div class="sub-text">
                        <h5><a href="#">transitions in UX design 2014 trends</a></h5>
                        <a class="view" href="#"> <small><i class="fa fa-eye"></i> 350</small> </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 gallery-item anim-section transition-effect zoom">
                    <div class="figure">
                        <figure> <a href="#" class="image-link"> <img src="assets/img/lilly.jpg" alt="" /> <span class="image-overlay">&nbsp;</span> </a> </figure>
                        <div class="tool_widget"> <a href="assets/img/lilly.jpg" class="search-icon fancybox-thumb" data-fancybox-group="fancybox-thumb"><span><i class="fa fa-search"></i></span></a> <a href="#" class="link"><span><i class="fa fa-link"></i></span></a> </div>
                    </div>
                    <div class="sub-text">
                        <h5><a href="#">transitions in UX design 2014 trends</a></h5>
                        <a class="view" href="#"> <small><i class="fa fa-eye"></i> 350</small> </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 gallery-item anim-section transition-effect zoom">
                    <div class="figure">
                        <figure> <a href="#" class="image-link"> <img src="assets/img/girl.jpg" alt="" /> <span class="image-overlay">&nbsp;</span> </a> </figure>
                        <div class="tool_widget"> <a href="assets/img/girl.jpg" class="search-icon fancybox-thumb" data-fancybox-group="fancybox-thumb"><span><i class="fa fa-search"></i></span></a> <a href="#" class="link"><span><i class="fa fa-link"></i></span></a> </div>
                    </div>
                    <div class="sub-text">
                        <h5><a href="#">transitions in UX design 2014 trends</a></h5>
                        <a class="view" href="#"> <small><i class="fa fa-eye"></i> 350</small> </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 gallery-item anim-section transition-effect zoom">
                    <div class="figure">
                        <figure> <a href="#" class="image-link"> <img src="assets/img/thread.jpg" alt="" /> <span class="image-overlay">&nbsp;</span> </a> </figure>
                        <div class="tool_widget"> <a href="assets/img/thread.jpg" class="search-icon fancybox-thumb" data-fancybox-group="fancybox-thumb"><span><i class="fa fa-search"></i></span></a> <a href="#" class="link"><span><i class="fa fa-link"></i></span></a> </div>
                    </div>
                    <div class="sub-text">
                        <h5><a href="#">transitions in UX design 2014 trends</a></h5>
                        <a class="view" href="#"> <small><i class="fa fa-eye"></i> 350</small> </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 gallery-item anim-section transition-effect zoom">
                    <div class="figure">
                        <figure> <a href="#" class="image-link"> <img src="assets/img/moon.jpg" alt="" /> <span class="image-overlay">&nbsp;</span> </a> </figure>
                        <div class="tool_widget"> <a href="assets/img/moon.jpg" class="search-icon fancybox-thumb" data-fancybox-group="fancybox-thumb"><span><i class="fa fa-search"></i></span></a> <a href="#" class="link"><span><i class="fa fa-link"></i></span></a> </div>
                    </div>
                    <div class="sub-text">
                        <h5><a href="#">transitions in UX design 2014 trends</a></h5>
                        <a class="view" href="#"> <small><i class="fa fa-eye"></i> 350</small> </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 show-more anim-section no-margin"> <a href="#" class="btn btn-default btn-effect">show more <i class="fa fa-long-arrow-down"></i></a> </div>
            </div>
        </div>
    </div>
</div>