<!--content Section Start Here -->
<div id="content" class="margin-bottom job-detail-two">
    <div class="container">

        <!--Content Header -->
        <header class="content-header row ">
            <div class="heading col-sm-8 col-xs-12">
                <h1>Quisque Lorem Tortor</h1>
            </div>
            <div class="col-sm-4 col-xs-12 page-navigation">
                <span class="tag-label">Show all</span>
                <ul class="pagination navigator">
                    <li> <a href="#" aria-label="Previous"> <img src="assets/img/arrow-left.png" alt=""> </a> </li>
                    <li> <a href="#" aria-label="Next"> <img src="assets/img/arrow-right.png" alt=""> </a> </li>
                </ul>
            </div>
        </header>
        <!--Content Header -->
        <!-- Main-Content Section  -->

        <div class="row main-content  blog-one  job-description">
            <section class="blog-section-wrapper col-sm-8">
                <article class="post-type-2 row">
                    <div class="post-banner col-xs-12 clearfix">
                        <section class="post-widget">
                            <div class="post-widget-inner">
                                <span class="date"> <small>June</small> 20 </span>
                                <ul class="social-network">
                                    <li> <a href="#" class="fa fa-google-plus"></a> </li>
                                    <li> <a href="#" class="fa fa-facebook"></a> </li>
                                    <li> <a href="#" class="fa fa-twitter"></a> </li>
                                </ul>
                            </div>
                        </section>
                        <section class="banner-post">
                            <!-- Blog Content -->
                            <section class="blog-section zoom">
                                <figure class="figure"> <img src="assets/img/job-fig-4.jpg" alt="" /> </figure>
                            </section>

                            <!-- Blog Content -->
                            <section class="blog-section zoom anim-section">
                                <figure class="figure"> <img src="assets/img/job-fig-5.jpg" alt="" /> </figure>
                            </section>

                            <!-- Blog Content -->
                            <section class="blog-section  zoom anim-section">
                                <figure class="figure"> <img src="assets/img/job-fig-6.jpg" alt="" /> </figure>
                            </section>
                        </section>
                    </div>
                </article>
            </section>
            <aside class="aside col-lg-3 col-lg-offset-1 col-sm-4">
                <article class="job-widget-one">
                    <p>Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit , rhoncus eu, luctus et interdum adipiscing wisi aliquam erat.</p>
                </article>
                <div class="publishing-label"> <strong> <span>Published by:</span> "theem' on" </strong> <strong> <span>Client:</span> "GIFTED" </strong> <strong> <span>Date:</span> May 13, 2014 </strong> <strong> <span>Website:</span> View website </strong> <strong> <span>Task:</span> Suspen disse fermen tum </strong> </div>
            </aside>
        </div>

        <!-- Blog Related Post -->
        <section class=" row blog-related-post anim-section no-margin">
            <div class="col-sm-8 col-xs-12">
                <h2>Related posts</h2>
                <div class="row">
                    <section class="col-sm-4 col-xs-12 zoom">
                        <figure class="figure"> <a href="#"><img src="assets/img/related-post-1.jpg" alt="" /></a> </figure>
                        <div class="img-description">
                            <a href="#" class="date"> june 20, 2014 </a>
                            <h3><a href="#">Vitae adipiscing turpis.</a></h3>
                            <p class="no-margin"> Etiam in augue. Nulla facilisi. Morbi felis tincidunt eget, faucibus orci nec. </p>
                        </div>
                    </section>
                    <section class="col-sm-4 col-xs-12 zoom">
                        <figure class="figure"> <a href="#"><img src="assets/img/related-post-2.jpg" alt="" /></a> </figure>
                        <div class="img-description">
                            <a href="#" class="date"> june 20, 2014 </a>
                            <h3><a href="#">Ligula nibh in, molest.</a></h3>
                            <p class="no-margin"> Etiam in augue. Nulla facilisi. Morbi felis tincidunt eget, faucibus orci nec. </p>
                        </div>
                    </section>
                    <section class="col-sm-4 col-xs-12 zoom">
                        <figure class="figure"> <a href="#"><img src="assets/img/related-post-3.jpg" alt="" /></a> </figure>
                        <div class="img-description">
                            <a href="#" class="date"> june 20, 2014 </a>
                            <h3><a href="#">Adipiscing vitae nibh in.</a></h3>
                            <p class="no-margin"> Etiam in augue. Nulla facilisi. Morbi felis tincidunt eget, faucibus orci nec. </p>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        <!-- Blog Related Post -->
        <!-- Main-Content  Section  -->

    </div>
</div>
<!--content Section End Here --> 