
<!--content Section Start Here -->
<div id="content">

    <!--organisation-info Start Here -->
    <section class="org-info anim-section effect-bottom">
        <div class="container">
            <div class="row">
                <div class="org-title">
                    <h1>We are a global design and technology consultancy.</h1>
                </div>
                <div class="services">
                    <div class="col-sm-3 effect-a">
                        <div class="one service-block shine">
                            <h3> <i class="fa fa-check-circle-o"> </i> Quality</h3>
                            <p> Etiam in augue. Nulla facilisi. Morbi felis tincidunt eget, faucibus orci nec erat a quam </p>
                        </div>
                    </div>
                    <div class="col-sm-3 effect-b">
                        <div class="two service-block shine">
                            <h3><i class="write"><img class="svg" src="assets/svg/thumb-two.svg" alt="" /></i> Best results</h3>
                            <p> Etiam in augue. Nulla facilisi. Morbi felis tincidunt eget, faucibus orci nec erat a quam </p>
                        </div>
                    </div>
                    <div class="col-sm-3 effect-c">
                        <div class="three service-block shine">
                            <h3> <i class="employee"><img class="svg" src="assets/svg/thumb-three.svg" alt="" /> </i> Professionalism</h3>
                            <p> Morbi felis tincidunt eget, faucibus orci nec erat a quam placerat vehicula neque. </p>
                        </div>
                    </div>
                    <div class="col-sm-3 effect-d">
                        <div class="four service-block shine">
                            <h3> <i class="star"><img class="svg" src="assets/svg/star.svg" alt="" /> </i> Experience</h3>
                            <p> Faucibus orci nec erat a quam placerat vehicula neque. Etiam vehicula sit amet. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--organisation-info End Here -->
    <div class="container">
        <div class="section-wrap no-margin">
            <h3>Fancy heading</h3>
            <section class="row fancy-heading">
                <div class="col-xs-12">
                    <strong class="h1"> get <span>a free</span> business qoute </strong>
                    <div class="quote-two clearfix"> <span class="h2"> Want to be success? </span> <strong class="h1"> get a  business qoute </strong> </div>
                    <div class="quote-two quote-three no-margin clearfix"> <span class="h2"> Want to be success? </span> <strong class="h1 no-margin"> get a  business qoute </strong> </div>
                </div>
            </section>
        </div>
    </div>
    <!--tech-info Start Here -->
    <section class="tech-info parallax">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 right">
                    <figure>
                        <!-- <img src="assets/img/tech-info-img.png" alt="" /> -->
                    </figure>
                </div>
                <div class="col-sm-7">
                    <div class="inner">
                        <h2 class="h1">Only Higher Technologies for Best Results</h2>
                        <div class="text">
                            <p> Etiam in augue. Nulla facilisi. Morbi felis tincidunt eget, faucibus orci nec erat a quam placerat vehicula neque. Etiam vehicula sit amet. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--tech-info End Here -->
    <!--team-info Start Here -->
    <section class="team-info anim-section effect-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Our Work Team</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 zoom effect-a">
                    <div class="inner out-left">
                        <figure>
                            <div class="info">
                                <ul class="social-icons effect-3 effect-3b">
                                    <li> <a href="http://plus.google.com" target="_blank" class="share-icon"><i class="fa fa-google-plus"></i></a> </li>
                                    <li> <a href="http://facebook.com" target="_blank" class="share-icon"><i class="fa fa-facebook"></i></a> </li>
                                    <li> <a href="http://twitter.com" target="_blank" class="share-icon"><i class="fa fa-twitter"></i></a> </li>
                                </ul>
                            </div>
                            <img src="assets/img/team-img1.jpg" alt="" />
                        </figure>
                        <div class="one shine">
                            <h3><a href="#">Anthony Mann</a></h3>
                            <span>Gemeral Director</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 zoom effect-b">
                    <div class="inner">
                        <figure>
                            <div class="info">
                                <ul class="social-icons effect-3 effect-3b">
                                    <li> <a href="http://plus.google.com" target="_blank" class="share-icon"><i class="fa fa-google-plus"></i></a> </li>
                                    <li> <a href="http://facebook.com" target="_blank" class="share-icon"><i class="fa fa-facebook"></i></a> </li>
                                    <li> <a href="http://twitter.com" target="_blank" class="share-icon"><i class="fa fa-twitter"></i></a> </li>
                                </ul>
                            </div>
                            <img src="assets/img/team-img2.jpg" alt="" />
                        </figure>
                        <div class="two shine">
                            <h3><a href="#">Veromica Johnson</a></h3>
                            <span>Account Manager</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 zoom effect-c">
                    <div class="inner">
                        <figure>
                            <div class="info">
                                <ul class="social-icons effect-3 effect-3b">
                                    <li> <a href="http://plus.google.com" target="_blank" class="share-icon"><i class="fa fa-google-plus"></i></a> </li>
                                    <li> <a href="http://facebook.com" target="_blank" class="share-icon"><i class="fa fa-facebook"></i></a> </li>
                                    <li> <a href="http://twitter.com" target="_blank" class="share-icon"><i class="fa fa-twitter"></i></a> </li>
                                </ul>
                            </div>
                            <img src="assets/img/team-img3.jpg" alt="" />
                        </figure>
                        <div class="three shine">
                            <h3><a href="#">Alicia Swag</a></h3>
                            <span>Cusotmers Support</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 zoom effect-d">
                    <div class="inner">
                        <figure>
                            <div class="info">
                                <ul class="social-icons effect-3 effect-3b">
                                    <li> <a href="http://plus.google.com" target="_blank" class="share-icon"><i class="fa fa-google-plus"></i></a> </li>
                                    <li> <a href="http://facebook.com" target="_blank" class="share-icon"><i class="fa fa-facebook"></i></a> </li>
                                    <li> <a href="http://twitter.com" target="_blank" class="share-icon"><i class="fa fa-twitter"></i></a> </li>
                                </ul>
                            </div>
                            <img src="assets/img/team-img4.jpg" alt="" />
                        </figure>
                        <div class="four shine">
                            <h3><a href="#">Alicia Swag</a></h3>
                            <span>Cusotmers Support</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--team-info End Here -->
    <!--news-info Start Here -->
    <section class="news-info anim-section effect-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 text">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Company News</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 zoom effect-a">
                            <figure> <img src="assets/img/news-info-img1.jpg" alt="" /> </figure>
                            <span class="date">june 20, 2014</span>
                            <h3><a href="#">Vitae adipiscing turpis.</a></h3>
                            <p> Etiam in augue. Nulla facilisi. Morbi felis tincidunt eget, faucibus orci nec erat a quam placerat vehicula neque. </p>
                        </div>
                        <div class="col-sm-6 zoom effect-b">
                            <figure> <img src="assets/img/news-info-img2.jpg" alt="" /> </figure>
                            <span class="date">june 20, 2014</span>
                            <h3><a href="#">Ligula nibh in, molestie</a></h3>
                            <p> Etiam in augue. Nulla facilisi. Morbi felis tincidunt eget, faucibus orci nec erat a quam placerat vehicula neque. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Clients’ Quotes</h2>
                        </div>
                    </div>
                    <div class="testimonial-slider effect-c">
                        <ul class="slides">
                            <li>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="quote">
                                            <span>“</span>
                                            <p> consectetur adipiscing elit. Nunc posuere metus.” </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="profile">
                                            <figure> <img src="assets/img/news-client-img1.jpg" alt="" /> </figure>
                                            <div class="intro">
                                                <h3>Alan </h3>
                                                <p> Director of companyname </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="quote">
                                            <span>“</span>
                                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere metus.” </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="profile">
                                            <figure> <img src="assets/img/news-client-img1.jpg" alt="" /> </figure>
                                            <div class="intro">
                                                <h3>Alan Grosh,</h3>
                                                <p> Director of companyname </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--news-info End Here -->
    <!--subscription Start Here -->
    <section class="subscription clearfix">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-7">
                    <h2>Sign up today for recieve our updates</h2>
                </div>
                <div class="col-sm-6 col-md-5 subscription-field">
                    <input type="text" placeholder="Enter your e-mail" class="subscription-input" />
                    <button class="btn btn-default btn-effect" type="button"> submit<i><img alt="" src="assets/img/arrow-btn.png"></i> </button>
                </div>
            </div>
        </div>
    </section>
    <!--subscription End Here -->

</div>
<!--content Section End Here --> 