<!--content Section Start Here -->
<div id="content">
    <div class="container press ">

        <!--Content Header -->
        <header class="content-header row ">
            <div class="heading col-xs-8">
                <h1>Press</h1>
            </div>
            <ul class="col-xs-4 breadcrumb ">
                <li>
                    <a href="#">Main Page</a>
                </li>
                <li>
                    <a href="#">Page</a>
                </li>
                <li class="active">
                    Press
                </li>
            </ul>
        </header>
        <!--Content Header -->
        <!-- Main-Content Section  -->
        <!-- 	Press Columns				 -->
        <div class="row press-cols">
            <section class="press-col-sec col-sm-4 col-xs-12">
                <h2>We love it</h2>
                <p>
                    If you do what you love, you are in the best place of your life! Only happy people can bring some freshness.
                </p>
                <p>
                    Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac eleifend ante lobortis id. In viverra ipsum ac eros tristique dignissim. Donec aliquam velit vitae mi dictum. Vitae adipiscing turpis.
                </p>
                <a href="#" class="btn btn-default btn-effect"> Read More <i> <img alt="" src="assets/img/arrow-btn.png"> </i> </a>
            </section>
            <section class="press-col-sec col-sm-4 col-xs-12 facts">
                <h2>Some facts</h2>
                <ul>
                    <li>
                        <i class="fa fa-check-circle-o"></i> Author was featured
                    </li>
                    <li>
                        <i class="fa fa-check-circle-o"></i> Author has had an Item Featured
                    </li>
                    <li>
                        <i class="fa fa-check-circle-o"></i> Elite Author
                    </li>
                    <li>
                        <i class="fa fa-check-circle-o"></i> Referred between 500 and 999 users
                    </li>
                </ul>
                <a href="#" class="btn btn-default btn-effect"> Read More <i> <img alt="" src="assets/img/arrow-btn.png"> </i> </a>
            </section>
            <section class="press-col-sec col-sm-4 col-xs-12">
                <h2>About us</h2>
                <p>
                    Pick up a piece of our art and you won`t never change for anything else. We provide only best solutions!
                </p>
                <p>
                    Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac eleifend ante lobortis id. In viverra ipsum ac eros tristique dignissim. Donec aliquam velit vitae mi dictum. Vitae adipiscing turpis.
                </p>
                <a href="#" class="btn btn-default btn-effect"> Read More <i> <img alt="" src="assets/img/arrow-btn.png"> </i> </a>
            </section>
        </div>
        <!-- 	Press Columns				 -->
        <!-- Statitics Banner -->
        <div class="our-statitics row">
            <div class="col-xs-12 stat-inner">
                <ul>
                    <li>
                        <strong>13</strong><span>themes</span>
                    </li>
                    <li>
                        <strong>987</strong><span>happy customers</span>
                    </li>
                    <li>
                        <strong>650</strong><span>followers</span>
                    </li>
                    <li>
                        <strong>9</strong><span>years of experience</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Statitics Banner -->
        <!-- Main-Content  Section  -->

    </div>

    <!-- Contact People		 -->
    <section class="main-content-wrap contact-people padding-bottom no-margin pad-sm-bottom">
        <div class="container">
            <h2>Some people you can contact</h2>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <section class="people-profile clearfix">
                        <figure>
                            <img src="assets/img/people-profile-1.jpg" alt="" />
                        </figure>
                        <div class="profile-sec">
                            <div class="profile-des">
                                <h3>Anthony Mann</h3>
                                <span class="position">Gemeral Director</span>
                            </div>
                            <p>
                                Etiam in augue nulla facilisi mor felis tincidunt eget, faucib.
                            </p>
                            <ul class="social-network ">
                                <li>
                                    <a class="fa fa-google-plus" href="#"></a>
                                </li>
                                <li>
                                    <a class="fa fa-facebook" href="#"></a>
                                </li>
                                <li>
                                    <a class="fa fa-twitter" href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 col-xs-12">
                    <section class="people-profile clearfix">
                        <figure>
                            <img src="assets/img/people-profile-2.jpg" alt="" />
                        </figure>
                        <div class="profile-sec">
                            <div class="profile-des">
                                <h3>Anthony Mann</h3>
                                <span class="position">Gemeral Director</span>
                            </div>
                            <p>
                                Etiam in augue nulla facilisi mor felis tincidunt eget, faucib.
                            </p>
                            <ul class="social-network ">
                                <li>
                                    <a class="fa fa-google-plus" href="#"></a>
                                </li>
                                <li>
                                    <a class="fa fa-facebook" href="#"></a>
                                </li>
                                <li>
                                    <a class="fa fa-twitter" href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>
